* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: 'Cilroy', sans-serif;
  font-size: 14px;
}

/* ===== HEADER ===== */

.header__top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: #fff;
  box-shadow: 0px 4px 72px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.header__top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.header__logo:active {
  opacity: 0.7;
}

.header__logo img {
  width: 210px;
}

.header__contacts a {
  display: inline-block;
  margin-left: 50px;
  font-weight: 600;
}

.header__contacts a:nth-child(1) {
  margin-left: 0;
}

.header__contacts a:hover {
  text-decoration: underline;
}

.header__contacts a:active {
  opacity: 0.7;
}

.menuicon {
  display: none;
}

.header__appeal {
  margin-top: 70px;
  padding: 50px 0 150px 0;
  background: url(../img/background__appeal.jpg) center center / cover;
}

.appeal__inv {
  max-width: 460px;
  box-shadow: 0px 4px 72px rgba(0, 0, 0, 0.2);
}

.inv__date {
  padding: 20px;
  border-top-left-radius: 5px;
  background: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 23px;
}

.inv__text {
  margin-top: 10px;
  padding: 30px 30px 40px 30px;
  border-bottom-left-radius: 5px;
  background: #fff;
}

h1 {
  max-width: 300px;
  font-size: 34px;
  font-weight: bold;
  color: #00A8FF;
}

.inv__subtitle {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.inv__program {
  padding: 20px 0 10px 30px;
  max-width: 300px;
}

.program__title {
  color: #7f7f7f;
  font-size: 22px;
  line-height: 27px;
}

.program__list li {
  display: flex;
  margin-top: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.program__list li:before {
  content: '';
  display: block;
  min-width: 8px;
  height: 8px;
  margin: 4px 10px 0 0;
  border-radius: 50%;
  background: #3EA3D7;
}

.inv__part {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  margin-top: 30px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: #00A8FF;
  box-shadow: 0px 6px 0px #007CBC;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #fff;
}

.inv__part:hover {
  background: #0092dd;
}

.inv__part:active {
  background: #007CBC;
}

.inv__part img {
  width: 18px;
  margin-right: 10px;
}

.mob__program {
  display: none;
}

.header__cond .container {
  display: flex;
  justify-content: center;
}

.cond__item {
  position: relative;
  top: -65px;
  width: 170px;
  padding: 15px 15px;
  margin: 0 20px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  box-shadow: 0px 4px 72px rgba(0, 0, 0, 0.2);
}

.cond__logo {
  position: relative;
  top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  min-width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 10px;
  background: #fff;
}

.cond__item.speakers p {
  text-align: left;
}

.cond__text {
  margin-top: -20px;
}

.cond__item.speakers .name {
  font-weight: 500;
}

.cond__item.speakers .position {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.cond__item.speakers .experts {
  margin-top: 15px;
  font-weight: 500;
}

/* ===== ADVANTAGES ===== */

.advantages {
  background: url(../img/background__advantages.jpg) center center / cover;
}

.advantages .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 250px 15px;
}

.advantages__item {
  position: relative;
  width: 25%;
  padding: 20px 10px;
  text-align: center;
  border-bottom: 8px solid #00A8FF;
  background: #fff;
}

.advantages__num {
  position: absolute;
  top: 0;
  left: 20px;
  font-weight: 900;
  font-size: 52px;
  color: #00A8FF;
  opacity: 0.2;
  user-select: none;
}

.advantages__item:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.advantages__item:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.advantages__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  margin-bottom: 5px;
}

.advantages__item p {
  font-weight: 600;
  font-size: 18px;
}

/* ===== USERS ===== */

.users {
  padding-bottom: 50px;
}

.users .section__title {
  padding: 105px 0 75px 0;
}

.section__title {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  color: #00A8FF;
}

.users__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.users__item {
  width: 290px;
  padding: 0 15px;
  margin-bottom: 45px;
}

.users__item img {
  width: 100%;
}

.users__item p {
  margin-top: 30px;
  padding-left: 10px;
  border-left: 5px solid #00A8FF;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

/* ===== form-inv ===== */

.form-inv {
  position: relative;
  min-height: 620px;
  height: 1px;
}

.form-inv .background {
  position: absolute;
  top: calc(50% - 225px);
  width: 100%;
  height: 450px;
  z-index: -10;
}

.form-inv .container {
  height: 100%;
}

.form-inv form {
  width: 450px;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  border: 2px solid #00A8FF;
  border-radius: 10px;
  background: #fff;
  z-index: 10;
}

.form-inv__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #00A8FF;
}

.form-inv label {
  display: block;
  max-width: 100%;
  margin: 25px auto 0 auto;
  padding: 0 30px;
}

.form-inv p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #00A8FF;
}

.form-inv input {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  padding: 0 15px;
  outline: none;
  border: 1px solid #A5E0FF;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
}

.form-inv input:focus {
  border: 2px solid #007CBC;
}

.form-inv input::placeholder {
  color: #BFBFBF;
}

.form-inv button[type = submit] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 60px);
  max-width: 100%;
  height: 60px;
  margin: 40px auto 0 auto;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 6px 0px #007CBC;
  background: #00A8FF;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #FFFFFF;
}

.form-inv button[type = submit]:hover {
  background: #0092dd;
}

.form-inv button[type = submit]:active {
  background: #007CBC;
}

.form-inv button[type = submit]:before {
  content: url(../img/check.svg);
  display: block;
  margin-right: 15px;
}

/* ===== CONTENT ===== */

.content {
  padding: 100px 0;
}

.content .section__title {
  margin-bottom: 40px;
}

.content__wrapper {
  display: flex;
  justify-content: space-between;
}

.content-left,
.content-right {
  width: calc(50% - 3px);
}

.content img {
  width: 100%;
  border-radius: 10px;
}

.content__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  padding: 0 100px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

/* ===== ADMIN ===== */

.admins .section__title {
  padding: 80px 0 50px 0;
  text-align: left;
}

.admins__text-wrapper {
  display: flex;
  align-items: center;
}

.admins__item {
  display: flex;
  align-items: center;
}

.admins__item:nth-of-type(2) {
  flex-direction: row-reverse;
  margin: 40px 0;
}

.admins img {
  width: 360px;
  max-width: 100%;
  border-radius: 10px;
}

.admins__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 270px;
  padding-left: 20px;
}

.admins__item:nth-of-type(2) .admins__column {
  width: 300px;
  padding: 0 20px 0 0;
}

.admins__item:nth-of-type(3) .admins__column {
  width: 300px;
}

.admins h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.admins p {
  margin-top: 15px;
  font-size: 14px;
  line-height: 22px;
}

/* ===== ABOUT ===== */

.about {
  padding: 100px 0;
}

.about .container {
  display: flex;
}

.about .section__title {
  margin-top: 20px;
  text-align: left;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #00A8FF;
}

.about__text {
  padding-right: 50px;
}

.about p {
  margin-top: 25px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.about b {
  font-weight: 700;
}

.about img {
  border-radius: 10px;
  width: 600px;
  max-width: 100%;
}

/* ===== CLIENTS ===== */

.clients {
  padding: 50px 0;
}

.clients .section__title {
  margin-bottom: 40px;
}

.clients__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 20px;
  height: 120px;
}

.clients__item:nth-child(odd) {
  background: #F8F8F8;
}

.clients__item:nth-child(even) {
  background: #F0F0F0;
}

.clients__item img {
  max-width: 100%;
  max-height: 100%;
}

/* ===== FEEDBACK ===== */

.feedback {
  padding: 50px 0 70px 0;
}

.feedback .section__title {
  text-align: left;
  margin-bottom: 50px;
}

.feedback__wrapper {
  display: flex;
  justify-content: space-between;
}

.feedback__column {
  width: calc(50% - 10px);
}

.feedback__item {
  padding: 40px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 72px rgba(0, 0, 0, 0.2);
}

.feedback__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.feedback__text:nth-child(2) {
  margin-top: 30px;
}

.feedback__column:nth-child(1) .feedback__item:nth-child(2) {
  margin-top: 60px;
}

.feedback__column:nth-child(2) .feedback__item {
  margin-top: 100px;
}

.feedback__name {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #00A8FF;
}

.feedback__position {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.feedback__position.font14 {
  font-size: 14px;
}

/* ===== FOOTER ===== */

footer {
  padding: 60px 0;
  margin-top: 50px;
  background: #3E3E3E;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo:active {
  opacity: 0.7;
}

.footer__contacts a {
  display: block;
  margin: 10px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.footer__contacts a:hover {
  text-decoration: underline;
}

.footer__contacts a:active {
  opacity: 0.7;
}

.footer__register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  max-width: 100%;
  height: 60px;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 6px 0px #007CBC;
  background: #00A8FF;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #FFFFFF;
}

.footer__register:hover {
  background: #0092dd;
}

.footer__register:active {
  background: #007CBC;
}

.footer__register:before {
  content: url(../img/check.svg);
  display: block;
  margin-right: 15px;
}

/* ===== POPUP ===== */

.popup__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 101;
}

.popup__form {
  position: relative;
  width: 450px;
  max-width: 90%;
  max-height: calc(100vh - 40px);
  padding-bottom: 40px;
  border: 2px solid #00A8FF;
  border-radius: 10px;
  overflow-y: auto;
  background: #fff;
}

.popup__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  color: #00A8FF;
}

.popup__label {
  display: block;
  max-width: 100%;
  margin: 15px auto 0 auto;
  padding: 0 15px;
}

.popup__p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #00A8FF;
}

.popup__input {
  width: 100%;
  max-width: 100%;
  height: 50px;
  margin-top: 5px;
  padding: 0 15px;
  outline: none;
  border: 1px solid #A5E0FF;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
}

.popup__input:focus {
  border: 2px solid #007CBC;
}

.popup__input::placeholder {
  color: #BFBFBF;
}

.popup__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 30px);
  max-width: 100%;
  height: 45px;
  margin: 20px auto 0 auto;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 6px 0px #007CBC;
  background: #00A8FF;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.popup__button:hover {
  background: #0092dd;
}

.popup__button:active {
  background: #007CBC;
}

.popup__close {
  position: absolute;
  top: 26px;
  right: 20px;
  width: 12px;
  height: 12px;
}

.popup__close img {
  width: 100%;
  height: 100%;
}